*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-weight: normal;
    font-size: 16px;
    /*color: #fff;*/
    background-color: #1A1A1A;;
}

.conteiner {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;

}

.header {
    border-bottom: 2px solid rgba(255,255,255, 0.1);

}

.header__inner {
    display: flex;
    align-items: center;
    min-height: 90px;
    justify-content: space-between;
}

.logo {
}

.logo__icon {
    width: 25px;
    height: 24px;
}

.logo__text {
    width: 173px;
    height: 12px;
}

.nav {
    display: flex;
    gap: 45px;
}

.nav__item {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.nav__item_active {
    color: #34C759
}

.nav__item:hover {
    color: #34C759;
}

